body{
    font-size: small;
    margin: 10px;
    padding: 05px;
    background-image: url(c26750c3-e88c-4b54-80a9-a7e8d292497d.jpg);
    font-family: Arial, sans-serif;
}
p {
    color: white;
}
h1, h2, h3 {
    color: white;
}
nav {
    background-color: rgb(37, 62, 60);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}