nav {
    background-color: rgb(12, 14, 12);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
body{
    background-color: rgb(89, 71, 71);
}