body{
    font-size: small;
    margin: 10px;
    padding: 05px;
    background-image: url(c26750c3-e88c-4b54-80a9-a7e8d292497d.jpg);
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: white;
}

p{
    color: white
}
a {
    padding: 0 15px;
  }
nav {
    background-color: rgb(14, 123, 114);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
nav.button {
    text-align: left;
    color: #000;
    margin-right: 0px;
        } 
form.contact-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
    div.contact-container {
    background:#fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 800px;
    margin: 2rem auto;
    background-color: rgb(32, 79, 76);
}
label { 
    display:block;
    margin: .5rem 0; 
}
input {
     padding:.4rem;
     margin-top:.2rem;
     width:100%;
     box-sizing:border-box; 
    }
    textarea {
     padding:.4rem;
     margin-top:.2rem;
     width:100%;
     height:150px;
     box-sizing:border-box; 
    }
button {
     padding:.5rem 1rem;
     margin-top:.5rem; 
    color:rgb(28, 196, 64);
    }