body { 
    background-image:url(c26750c3-e88c-4b54-80a9-a7e8d292497d.jpg) ;
    font-family: Arial,
    sans-serif;
    max-width:720px;
    margin: 2rem auto;
    padding: 0 1rem; 
}
h1 {
    text-align:center; 
    }

    div.login-container {
    background:#fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    margin: 2rem auto;
    background-color: rgb(17, 130, 94);
}
label { 
    display:block;
    margin: .5rem 0; 
}
input {
     padding:.4rem;
     margin-top:.2rem;
     width:100%;
     box-sizing:border-box; 
    }
button {
     padding:.5rem 1rem;
     margin-top:.5rem; 
    color:rgb(28, 196, 64);
    }
.errors {
     background:#fee;
     border:1px solid #f99;
     padding:.6rem;
     margin-bottom:1rem; 
    }
