body{
font-size: small;
    margin: 10px;
    padding: 05px;
    background-image: url(c26750c3-e88c-4b54-80a9-a7e8d292497d.jpg);
    
    font-family: Arial, sans-serif;
}
nav {
    background-color: rgb(14, 123, 114);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
#Gheader {
   height: 60vh;
   background-color: blue;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
    align-items: center;
    text-align: center;
}

.dropbtn {
  background-color: #11cec78a;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #03a8b495;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #d17428;}

a {
  color: rgb(9, 9, 11);
}
#myheader {
  
   height: 100vh;
  background-color: rgba(14, 123, 114, 0.463);
   background-size: cover;
   background-position: center;
   display: flex;
}
a {
    padding: 0 15px;
  }

  
P {
  font-family: 'Arial', sans-serif;
    font-size: 16px;
  text-align: left;  
    line-height: 2.0;

}

table, td, tr, th {
  border: 2px solid #186626;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 400px;
    margin-bottom: 400px;
    background-color: #f9f9f9;
    line-height: 5.0;
    width: 400px;
}

td {
  padding-left: 5px;
}
.bold {
  font-weight: bold;
  text-align: center;
}
.result {
  width: 400px;
  text-align: right;
  padding-right: 5px; }

  tr:nth-child(even) {
  background-color: #2c9233;
}
h2{
    font-family: 'times new roman', times, serif;
        font-size: 28px;
        text-align: left;  
        line-height: 2.0;
        color : white;
}